<!doctype html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme|Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Movie Grail</title>

    <script src="/js/mg/main.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"><img id="logo" onmouseover="this.src='/images/LOGO_green.svg'"
                             onmouseout="this.src='/images/LOGO.svg'" src="/images/LOGO.svg" alt="Movie Grail"></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse navbar-collapse-style" aria-expanded="false">
            <div class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" id="top_search_box" placeholder="Search..." class="form-control">
                    <button onclick="javascript:doSearch('top')" class="search-top-button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
                <!--<a class="not-active" id="log_display" href="#"></a>-->
                <button type="button" class="btn btn-info" id="logout_btn" onclick="javascript:logoutFuc()">
                </button>

                <button type="button" id="unlog_login_btn" data-toggle="modal" data-target="#loginModal"
                        class="btn btn-success">Sign In
                </button>
                <!--                <button type="button" id="unlog_login_btn" class="btn btn-success" onclick="javascript:window.location.href='/login'">Sign In</button>-->
                <button type="button" id="unlog_join_btn" class="btn btn-primary"
                        onclick="javascript:window.location.href='/signuppage'">Join
                </button>
            </div>

        </div><!--/.navbar-collapse -->
    </div>
</nav>

{{{body}}}
<!--<div class="container jumbotron">-->
<!--<div class="row">-->
<!--<div class="col-xs-12"><img src="/images/bootcdn.png" alt="BootCDN logo" class="hidden">-->
<!--<h1>Movie Grail </h1>-->
<!--<p>Steady, Fast and Free Movie Data<br></p>-->
<!--<form class="search-wraper" role="search">-->
<!--<div class="form-group"><input class="form-control search clearable" placeholder="Find movies. e.g. The Fate of the Furious"-->
<!--autocomplete="off"> <i class="fa fa-search"></i></div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- FOOTER -->

<!--<footer class="footer">

</footer>-->
<div class="text-center center-block">
    <!---->
    <hr>
    <img src="/images/LOGO_footer.svg" alt="Movie Grail" >
    <hr>
    <a href="https://www.facebook.com/chen.haoyan.5"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
    <a href="https://www.linkedin.com/in/cape-frank/"><i id="social-li" class="fa fa-linkedin-square fa-3x social"></i></a>
    <a href="https://github.com/stonecape/COMSM0104-MoiveGrail"><i id="social-gh" class="fa fa-github-square fa-3x social"></i></a>
    <a href="mailto:hc16191@my.bristol.ac.uk"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    <br>
    <a href="/about" class="about_link"><strong>About Us</strong></a>
    <p class="text-muted">&copy; 2017 Frank CHEN and Ellie LIU ALL RIGHTS RESERVED.</p>

</div>
<!--<div class="container" >
    <img id="logo" src="/images/LOGO_footer.svg" alt="Movie Grail">
    <p class="text-muted">&copy; 2017 Frank CHEN and Ellie LIU ALL RIGHTS RESERVED.</p>
</div>-->

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 ">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong> Sign in to continue</strong>
                            </div>
                            <div class="panel-body">
                                <form role="form" action="#" method="POST">
                                    <fieldset>
                                        <div class="row">
                                            <div class="center-block">
                                                <img class="profile-img"
                                                     src="/images/userphoto.png"
                                                     alt="">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                                <div class="form-group">
                                                    <a href="#" title="" id="login_inputUserNamePop" data-toggle="popover"
                                                       data-trigger="focus"
                                                       data-content="">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="glyphicon glyphicon-user"></i>
                                                        </span>

                                                            <input class="form-control" id="login_inputUserName"
                                                                   placeholder="UserName" name="userName" type="text"
                                                                   autofocus>

                                                    </div>
                                                    </a>
                                                </div>
                                                <div class="form-group">
                                                    <a href="#" title="" id="login_inputPasswordPop" data-toggle="popover"
                                                       data-trigger="focus"
                                                       data-content="">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="glyphicon glyphicon-lock"></i>
                                                        </span>

                                                            <input type="password" id="login_inputPassword" name="password"
                                                                   onBlur="javascript:emptyPop()"
                                                                   class="form-control" placeholder="Password" required>

                                                    </div>
                                                    </a>
                                                </div>
                                                <a href="#" title="" id="login_submit_btn_popover" data-toggle="popover"
                                                   data-trigger="focus"
                                                   data-content="">
                                                    <div class="form-group">
                                                        <button class="btn btn-lg btn-primary btn-block" type="button"
                                                                onclick="javascript:submitLogInForm()" id="submitFormBtn">Log In</button>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="panel-footer ">
                                Don't have an account! <a href="#"
                                                          onclick="javascript:window.location.href='/signuppage'"> Sign
                                Up Here </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>

</html>