<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Movie Grail</title>

    <script type="text/javascript">
        $(function(){
            var result;
            $.ajax({
                type: "GET",
                url : "/login/getcookie",
                dataType: 'text',
                async : false,
                data:{},
                success: function(data) {
                    result = data;
                }
            });
            if(result) {
                $('#unlog_login_btn').hide();
                $('#unlog_join_btn').hide();
                $('#display_username').val(result);
            } else {
                $('#log_display').hide();
                $('#logout_btn').hide();
            }
        });
    </script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Movie Grail</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1.11111px;">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Search MovieGrail" class="form-control">
                </div>
                
                <button type="button" class="btn btn-default" id="logout_btn" onclick="javascript:jumptoLogout()">Logout</button>

                <button type="button" id="unlog_login_btn" class="btn btn-success" onclick="javascript:window.location.href='/login'">Sign In</button>
                <button type="button" id="unlog_join_btn" class="btn btn-primary" onclick="javascript:window.location.href='/signuppage'">Join</button>
            </form>

        </div><!--/.navbar-collapse -->
    </div>
</nav>

{{{body}}}
    <!--<div class="container jumbotron">-->
        <!--<div class="row">-->
            <!--<div class="col-xs-12"><img src="/images/bootcdn.png" alt="BootCDN logo" class="hidden">-->
                <!--<h1>Movie Grail </h1>-->
                <!--<p>Steady, Fast and Free Movie Data<br></p>-->
                <!--<form class="search-wraper" role="search">-->
                    <!--<div class="form-group"><input class="form-control search clearable" placeholder="Find movies. e.g. The Fate of the Furious"-->
                                                   <!--autocomplete="off"> <i class="fa fa-search"></i></div>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!-- FOOTER -->

<footer class="footer">
    <div class="container">
        <p class="text-muted">&copy; 2017 Frank CHEN and Ellie LIU ALL RIGHTS RESERVED.</p>
    </div>
</footer>
</body>

</html>