<!doctype html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme|Montserrat" rel="stylesheet">
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Movie Grail</title>

    <script type="text/javascript">
        function doSearch(loc) {
            var search_text
            if(loc === 'top') {
                search_text = $("#top_search_box").val();
            } else {
                search_text = $("#carousel-search-box").val();
            }

            if(search_text.length > 0){
                $.ajax({
                    type: "GET",
                    url : "/search",
                    dataType: 'json',
                    async : false,
                    data:{"search_text":search_text},
                    success: function(data) {
                        if(data.result && data.detail) {
                            window.location.href="/mdetail?id="+data.detail;
                        } else {
                            $("#top_search_box").val("");
                            $("#carousel-search-box").val("");
                        }
                    }
                });
            }
        }
        function submitLogInForm() {
            $('#login_inputUserNamePop').popover('destroy');
            $('#login_inputPasswordPop').popover('destroy');
            $('#login_submit_btn_popover').popover('destroy');

            var userName = $("#login_inputUserName").val();
            var password = $("#login_inputPassword").val();

            if (userName.length <= 0) {
                $('#login_inputUserNamePop').popover({title: "Woops!", content: "Please type your username."});
                $('#login_inputUserNamePop').popover('show');
                return false;
            }
            if (password.length < 6 || password.length > 12) {
                $('#login_inputPasswordPop').popover({title: "Woops!", content: "Please type your password correctly."});
                $('#login_inputPasswordPop').popover('show');
                return false;
            }

            var result;
            $.ajax({
                type: "POST",
                url : "/login/submit",
                dataType: 'text',
                async : false,
                data:{"userName":userName, "password":password},
                success: function(data) {
                    result = data;
                }
            });
            if(result === "true") {
                location.reload();
            } else {
                $('#login_submit_btn_popover').popover({title: "Woops!", content: "Username or password is wrong."});
                $('#login_submit_btn_popover').popover('show');
            }
        }
        function logoutFuc() {
            var result;
            $.ajax({
                type: "GET",
                url: "/logout",
                dataType: 'text',
                async: false,
                data: {},
                success: function (data) {
                    result = data;
                }
            });
            if (result === "true") {
                location.reload();
            }
        }
        $(function () {
            var result;
            $.ajax({
                type: "GET",
                url: "/login/getcookie",
                dataType: 'text',
                async: false,
                data: {},
                success: function (data) {
                    result = data;
                }
            });
            if (result) {
                $('#unlog_login_btn').hide();
                $('#unlog_join_btn').hide();
                $('#logout_btn').html(result+" logout");
            } else {
                $('#logout_btn').hide();
            }


            $("#top_search_box").bind('keypress',function(event){
                if(event.keyCode == "13")
                {
                    doSearch('top');
                }
            });
        });
    </script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"><img id="logo" onmouseover="this.src='/images/LOGO_green.svg'"
                             onmouseout="this.src='/images/LOGO.svg'" src="/images/LOGO.svg" alt="Movie Grail"></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1.11111px;">
            <div class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" id="top_search_box" placeholder="Search..." class="form-control">
                    <button onclick="javascript:doSearch('top')" class="search-top-button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
                <!--<a class="not-active" id="log_display" href="#"></a>-->
                <button type="button" class="btn btn-info" id="logout_btn" onclick="javascript:logoutFuc()">
                </button>

                <button type="button" id="unlog_login_btn" data-toggle="modal" data-target="#loginModal"
                        class="btn btn-success">Sign In
                </button>
                <!--                <button type="button" id="unlog_login_btn" class="btn btn-success" onclick="javascript:window.location.href='/login'">Sign In</button>-->
                <button type="button" id="unlog_join_btn" class="btn btn-primary"
                        onclick="javascript:window.location.href='/signuppage'">Join
                </button>
            </div>

        </div><!--/.navbar-collapse -->
    </div>
</nav>

{{{body}}}
<!--<div class="container jumbotron">-->
<!--<div class="row">-->
<!--<div class="col-xs-12"><img src="/images/bootcdn.png" alt="BootCDN logo" class="hidden">-->
<!--<h1>Movie Grail </h1>-->
<!--<p>Steady, Fast and Free Movie Data<br></p>-->
<!--<form class="search-wraper" role="search">-->
<!--<div class="form-group"><input class="form-control search clearable" placeholder="Find movies. e.g. The Fate of the Furious"-->
<!--autocomplete="off"> <i class="fa fa-search"></i></div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- FOOTER -->

<!--<footer class="footer">

</footer>-->
<div class="text-center center-block">
    <!---->
    <hr>
    <img src="/images/LOGO_footer.svg" alt="Movie Grail" >
    <hr>
    <a href="https://www.facebook.com/chen.haoyan.5"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
    <a href="https://www.linkedin.com/in/cape-frank/"><i id="social-li" class="fa fa-linkedin-square fa-3x social"></i></a>
    <a href="https://github.com/stonecape"><i id="social-gh" class="fa fa-github-square fa-3x social"></i></a>
    <a href="mailto:hc16191@my.bristol.ac.uk"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    <p class="text-muted">&copy; 2017 Frank CHEN and Ellie LIU ALL RIGHTS RESERVED.</p>

</div>
<!--<div class="container" >
    <img id="logo" src="/images/LOGO_footer.svg" alt="Movie Grail">
    <p class="text-muted">&copy; 2017 Frank CHEN and Ellie LIU ALL RIGHTS RESERVED.</p>
</div>-->

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 ">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong> Sign in to continue</strong>
                            </div>
                            <div class="panel-body">
                                <form role="form" action="#" method="POST">
                                    <fieldset>
                                        <div class="row">
                                            <div class="center-block">
                                                <img class="profile-img"
                                                     src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                                                     alt="">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                                <div class="form-group">
                                                    <a href="#" title="" id="login_inputUserNamePop" data-toggle="popover"
                                                       data-trigger="focus"
                                                       data-content="">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="glyphicon glyphicon-user"></i>
                                                        </span>

                                                            <input class="form-control" id="login_inputUserName"
                                                                   placeholder="UserName" name="userName" type="text"
                                                                   autofocus>

                                                    </div>
                                                    </a>
                                                </div>
                                                <div class="form-group">
                                                    <a href="#" title="" id="login_inputPasswordPop" data-toggle="popover"
                                                       data-trigger="focus"
                                                       data-content="">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="glyphicon glyphicon-lock"></i>
                                                        </span>

                                                            <input type="password" id="login_inputPassword" name="password"
                                                                   onBlur="javascript:emptyPop()"
                                                                   class="form-control" placeholder="Password" required>

                                                    </div>
                                                    </a>
                                                </div>
                                                <a href="#" title="" id="login_submit_btn_popover" data-toggle="popover"
                                                   data-trigger="focus"
                                                   data-content="">
                                                    <div class="form-group">
                                                        <button class="btn btn-lg btn-primary btn-block" type="button"
                                                                onclick="javascript:submitLogInForm()" id="submitFormBtn">Log In</button>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="panel-footer ">
                                Don't have an account! <a href="#"
                                                          onclick="javascript:window.location.href='/signuppage'"> Sign
                                Up Here </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>

</html>