<script src="/js/mg/register_result.js"></script>
<link href="/css/register_result.css" rel="stylesheet">

<div class="container">
    <div class="jumbotron register_bar">
        <h1>{{message}}</h1>
        <div>after <span id="time">3</span>second(s), jump to home page directly</div>
    </div>
</div>