<link href="/css/signin.css" rel="stylesheet">
<script src="/js/mg/login.js"></script>
<div class="container">
    <form class="form-signin" id="signupForm" method="post"  >
        <h2 class="form-signin-heading">Log in and enjoy your journey</h2>
        <label for="inputUserName" class="sr-only">UserName</label>
        <a href="#" title="" id="inputUserNamePop" data-toggle="popover" data-trigger="focus"
           data-content="">
        <input type="text" id="inputUserName" name="userName" class="form-control" placeholder="UserName">
        </a>

        <label for="inputPassword" class="sr-only">Password</label>
        <a href="#" title="" id="inputPasswordPop" data-toggle="popover" data-trigger="focus"
           data-content="">
        <input type="password" id="inputPassword" name="password"
               onBlur="javascript:emptyPop()"
               class="form-control" placeholder="Password" required>
        </a>

        <a href="#" title="" id="login_submit_btn_popover" data-toggle="popover" data-trigger="focus"
           data-content="">
        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="javascript:submitLogInForm()" id="submitFormBtn">Log In</button>
        </a>
       </form>

</div>