<link href="/css/signin.css" rel="stylesheet">

<script type="text/javascript">
    function submitLogInForm() {
        $('#inputUserNamePop').popover('destroy');
        $('#inputPasswordPop').popover('destroy');
        $('#login_submit_btn_popover').popover('destroy');

        var userName = $("#inputUserName").val();
        var password = $("#inputPassword").val();

        if (userName.length <= 0) {
            $('#inputUserNamePop').popover({title: "Woops!", content: "Please type your username."});
            $('#inputUserNamePop').popover('show');
            return false;
        }
        if (password.length < 6 || password.length > 12) {
            $('#inputPasswordPop').popover({title: "Woops!", content: "Please type your password correctly."});
            $('#inputPasswordPop').popover('show');
            return false;
        }

        var result;
        $.ajax({
            type: "POST",
            url : "/login/submit",
            dataType: 'json',
            async : false,
            data:{"userName":userName, "password":password},
            success: function(data) {
                result = data;
            }
        });

        if(result == true) {
            window.location.href = "/";
        } else {
            $('#login_submit_btn_popover').popover({title: "Woops!", content: "Username or password is wrong."});
            $('#login_submit_btn_popover').popover('show');
        }
    }
</script>
<div class="container">
    <form class="form-signin" id="signupForm" method="post"  >
        <h2 class="form-signin-heading">Log in and enjoy your journey</h2>
        <label for="inputUserName" class="sr-only">UserName</label>
        <a href="#" title="" id="inputUserNamePop" data-toggle="popover" data-trigger="focus"
           data-content="">
        <input type="text" id="inputUserName" name="userName" class="form-control" placeholder="UserName">
        </a>

        <label for="inputPassword" class="sr-only">Password</label>
        <a href="#" title="" id="inputPasswordPop" data-toggle="popover" data-trigger="focus"
           data-content="">
        <input type="password" id="inputPassword" name="password"
               onBlur="javascript:emptyPop()"
               class="form-control" placeholder="Password" required>
        </a>

        <a href="#" title="" id="login_submit_btn_popover" data-toggle="popover" data-trigger="focus"
           data-content="">
        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="javascript:submitLogInForm()" id="submitFormBtn">Log In</button>
        </a>
       </form>

</div>