<link href="/css/signin.css" rel="stylesheet">
<script src="/js/mg/signup.js"></script>
<div class="container">
    <form class="form-signin" id="signupForm" method="post" onsubmit="return checkForm()" action="/signup/submitsignup" >
        <h2 class="form-signin-heading">Welcome to Join Us</h2>
        <label for="inputUserName" class="sr-only">UserName</label>
        <a href="#" title="" id="inputUserNamePop" data-toggle="popover" data-trigger="focus"
           data-content="">
        <input type="text" id="inputUserName" name="userName" class="form-control" placeholder="UserName"
               onBlur="javascript:checkUserName()" >
        </a>

        <label for="emailAdd" class="sr-only">Email</label>

            <input type="email" id="emailAdd" name="email" class="form-control" placeholder="Email" required>



        <label for="inputPassword" class="sr-only">Password(6-12 characters)</label>
        <a href="#" title="" id="inputPasswordPop" data-toggle="popover" data-trigger="focus"
           data-content="">
        <input type="password" id="inputPassword" name="password"
               onBlur="javascript:emptyPop()"
               class="form-control" placeholder="Password(6-12 characters)" required>
        </a>

        <label for="inputRePassword" class="sr-only">Retype your password</label>
        <a href="#" title="" id="inputRePasswordPop" data-toggle="popover" data-trigger="focus"
           data-content="">
        <input type="password" id="inputRePassword" name="rePassword"
               onBlur="javascript:emptyPop()"
               class="form-control" placeholder="Retype your password" required>
        </a>

        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submitFormBtn">Register</button>
    </form>

</div>