.btn-primary {
  background-color: #69b99f;
  border-color: #69b99f;
}

.btn-primary:hover,.btn-primary:active,.btn-primary:focus,
.btn-primary:active:hover,.btn-primary:active:focus  {
  background-color: #48987e;
  border-color: #48987e;
}

.btn-success {
  background-color: rgba(124, 184, 226, 0);
  border-color: #69b99f;
}
.btn-success:hover{
  background-color: #69b99f;
  border-color: ##69b99f;
}
.btn-success:hover,.btn-success:active,.btn-success:focus,
.btn-success:active:hover,.btn-success:active:focus{
  background-color: #48987e;
  border-color: #48987e;
}

.search-top-button{
  position: absolute;
  left: 4px;
  top: 7px;
  border: none;
  background-color: transparent;
  color: #a2a0a0;
  z-index: 0;
}


.form-group{
  position: relative;
}

.form-group input{
  padding-left: 30px;
}

